%h2 Enter a new entry for #{@userblog.title} 
= form_tag userblog_entries_path, :method => :post do
	=render :partial => 'form'  
	= hidden_field :entry, :userblog_id, value: @userblog.id   
	= submit_tag 'Save Changes'
